[workspace]
members = [
  "lib-dispatch",
  "lib-log",
  "flowy-net",
  "flowy-core",
  "dart-ffi",
  "flowy-user",
  "flowy-user-deps",
  "flowy-test",
  "flowy-sqlite",
  "flowy-folder2",
  "flowy-folder-deps",
  "flowy-notification",
  "flowy-document2",
  "flowy-document-deps",
  "flowy-error",
  "flowy-database2",
  "flowy-database-deps",
  "flowy-task",
  "flowy-server",
  "flowy-server-config",
  "flowy-config",
  "flowy-encrypt",
  "flowy-storage",
]

[profile.dev]
opt-level = 0
lto = false
codegen-units = 16

[profile.release]
lto = true
opt-level = 3
codegen-units = 1

[profile.profiling]
inherits = "release"
debug = true
codegen-units = 16
lto = false

## debuginfo — it makes ./target much bigger, which again harms caching. Depending on your preferred workflow,
## you might consider disabling debuginfo unconditionally, this brings some benefits for local builds as well.
#strip = "debuginfo"
## For from-scratch builds, incremental adds an extra dependency-tracking overhead. It also significantly increases
## the amount of IO and the size of ./target, which make caching less effective.
incremental = false

[patch.crates-io]
collab = { git = "https://github.com/qinluhe/AppFlowy-Collab", rev = "4945564" }
collab-folder = { git = "https://github.com/qinluhe/AppFlowy-Collab", rev = "4945564" }
collab-document = { git = "https://github.com/qinluhe/AppFlowy-Collab", rev = "4945564" }
collab-database = { git = "https://github.com/qinluhe/AppFlowy-Collab", rev = "4945564" }
appflowy-integrate = { git = "https://github.com/qinluhe/AppFlowy-Collab", rev = "4945564" }
collab-plugins = { git = "https://github.com/qinluhe/AppFlowy-Collab", rev = "4945564" }
collab-user = { git = "https://github.com/qinluhe/AppFlowy-Collab", rev = "4945564" }
collab-define = { git = "https://github.com/qinluhe/AppFlowy-Collab", rev = "4945564" }

#collab = { path = "../AppFlowy-Collab/collab" }
#collab-folder = { path = "../AppFlowy-Collab/collab-folder" }
#collab-database= { path = "../AppFlowy-Collab/collab-database" }
#collab-document = { path = "../AppFlowy-Collab/collab-document" }
#collab-plugins = { path = "../AppFlowy-Collab/collab-plugins" }
#appflowy-integrate = { path = "../AppFlowy-Collab/appflowy-integrate" }
#collab-user = { path = "../AppFlowy-Collab/collab-user" }
#collab-define = { path = "../AppFlowy-Collab/collab-define" }
