[workspace]
members = [
  "lib-dispatch",
  "lib-log",
  "flowy-core",
  "dart-ffi",
  "flowy-user",
  "flowy-user-deps",
  "event-integration",
  "flowy-sqlite",
  "flowy-folder2",
  "flowy-folder-deps",
  "flowy-notification",
  "flowy-document2",
  "flowy-document-deps",
  "flowy-error",
  "flowy-database2",
  "flowy-database-deps",
  "flowy-task",
  "flowy-server",
  "flowy-server-config",
  "flowy-config",
  "flowy-encrypt",
  "flowy-storage",
  "collab-integrate",
  "flowy-ai",
  "flowy-date",
]
resolver = "2"

[workspace.dependencies]
lib-dispatch = { workspace = true, path = "lib-dispatch" }
lib-log = { workspace = true, path = "lib-log" }
flowy-core = { workspace = true, path = "flowy-core" }
dart-ffi = { workspace = true, path = "dart-ffi" }
flowy-user = { workspace = true, path = "flowy-user" }
flowy-user-deps = { workspace = true, path = "flowy-user-deps" }
flowy-sqlite = { workspace = true, path = "flowy-sqlite" }
flowy-folder2 = { workspace = true, path = "flowy-folder2" }
flowy-folder-deps = { workspace = true, path = "flowy-folder-deps" }
flowy-notification = { workspace = true, path = "flowy-notification" }
flowy-document2 = { workspace = true, path = "flowy-document2" }
flowy-document-deps = { workspace = true, path = "flowy-document-deps" }
flowy-error = { workspace = true, path = "flowy-error" }
flowy-database2 = { workspace = true, path = "flowy-database2" }
flowy-database-deps = { workspace = true, path = "flowy-database-deps" }
flowy-task = { workspace = true, path = "flowy-task" }
flowy-server = { workspace = true, path = "flowy-server" }
flowy-server-config = { workspace = true, path = "flowy-server-config" }
flowy-config = { workspace = true, path = "flowy-config" }
flowy-encrypt = { workspace = true, path = "flowy-encrypt" }
flowy-storage = { workspace = true, path = "flowy-storage" }
collab-integrate = { workspace = true, path = "collab-integrate" }
flowy-ai = { workspace = true, path = "flowy-ai" }
flowy-date = { workspace = true, path = "flowy-date" }
anyhow = "1.0.75"
tracing = "0.1.40"
bytes = "1.5.0"
serde_json = "1.0.108"
serde = "1.0.108"
protobuf = { version = "2.28.0" }
diesel = { version = "1.4.8", features = ["sqlite", "chrono"] }
uuid = { version = "1.5.0", features = ["serde", "v4"] }
serde_repr = "0.1"
parking_lot = "0.12"
futures = "0.3.29"
tokio = "1.34.0"
tokio-stream = "0.1.14"
async-trait = "0.1.74"
chrono = { version = "0.4.31",  default-features = false, features = ["clock"] }
lru = "0.12.0"

[profile.dev]
opt-level = 0
lto = false
codegen-units = 16

[profile.release]
lto = true
opt-level = 3
codegen-units = 1

[profile.profiling]
inherits = "release"
debug = true
codegen-units = 16
lto = false

## debuginfo — it makes ./target much bigger, which again harms caching. Depending on your preferred workflow,
## you might consider disabling debuginfo unconditionally, this brings some benefits for local builds as well.
#strip = "debuginfo"
## For from-scratch builds, incremental adds an extra dependency-tracking overhead. It also significantly increases
## the amount of IO and the size of ./target, which make caching less effective.
incremental = false

[patch.crates-io]
# Please using the following command to update the revision id
# Current directory: frontend
# Run the script:
# scripts/tool/update_client_api_rev.sh  new_rev_id
# ⚠️⚠️⚠️️
client-api = { git = "https://github.com/AppFlowy-IO/AppFlowy-Cloud", rev = "ee31a680b5789b8c7c5397e6eadd4dd7739526f9" }
# Please use the following script to update collab.
# Working directory: frontend
#
# To update the commit ID, run:
# scripts/tool/update_collab_rev.sh new_rev_id
#
# To switch to the local path, run:
# scripts/tool/update_collab_source.sh
# ⚠️⚠️⚠️️
collab = { git = "https://github.com/AppFlowy-IO/AppFlowy-Collab", rev = "cc044fb676598a521e2fa7bf34fe58cdbc228cb8" }
collab-folder = { git = "https://github.com/AppFlowy-IO/AppFlowy-Collab", rev = "cc044fb676598a521e2fa7bf34fe58cdbc228cb8" }
collab-document = { git = "https://github.com/AppFlowy-IO/AppFlowy-Collab", rev = "cc044fb676598a521e2fa7bf34fe58cdbc228cb8" }
collab-database = { git = "https://github.com/AppFlowy-IO/AppFlowy-Collab", rev = "cc044fb676598a521e2fa7bf34fe58cdbc228cb8" }
collab-plugins = { git = "https://github.com/AppFlowy-IO/AppFlowy-Collab", rev = "cc044fb676598a521e2fa7bf34fe58cdbc228cb8" }
collab-user = { git = "https://github.com/AppFlowy-IO/AppFlowy-Collab", rev = "cc044fb676598a521e2fa7bf34fe58cdbc228cb8" }
collab-entity = { git = "https://github.com/AppFlowy-IO/AppFlowy-Collab", rev = "cc044fb676598a521e2fa7bf34fe58cdbc228cb8" }
collab-persistence = { git = "https://github.com/AppFlowy-IO/AppFlowy-Collab", rev = "cc044fb676598a521e2fa7bf34fe58cdbc228cb8" }
