[Desktop Entry]
Type=Application
Name=AppFlowy
Icon=/usr/share/icons/hicolor/scalable/apps/appflowy.svg
Exec=env GDK_GL=gles /usr/bin/AppFlowy %U
Categories=Network;Productivity;
Keywords=Notes
DBusActivatable=true
Implements=io.appflowy.AppFlowy;
Terminal=false