:root[data-dark-mode=true] {
    --B50: #024165;
    --B100: #00709F;
    --B200: #A6ECFF;
    --B300: #52D1F4;
    --B400: #00BCF0;
    --B500: #05ADE2;
    --B600: #009FD1;
    --N00: #1A202C;
    --N50: #232B38;
    --N100: #3A465A;
    --N200: #313C51;
    --N300: #363D49;
    --N400: #525A69;
    --N500: #59647A;
    --N600: #7B8A9D;
    --N700: #99A6B8;
    --N800: #E2E9F2;
    --N900: #EFF4FB;
    --N1000: #FFFFFF;
    --shadow-md: 0px 5px 5px -3px rgba(0,0,0,0.2),0px 8px 10px 1px rgba(0,0,0,0.14),0px 3px 14px 2px rgba(0,0,0,0.12);
}