@import './dark.css';
@import './light.css';

:root {
    --color-text-title: var(--N800);
    --color-text-caption: var(--N600);
    --color-text-placeholder: var(--N500);
    --color-text-disabled: var(--N300);
    --color-text-link-default: var(--B400);
    --color-text-link-hover: var(--B300);
    --color-text-link-pressed: var(--B600);
    --color-text-link-disabled: var(--B100);
    --color-icon-default: var(--N800);
    --color-icon-secondary: var(--N500);
    --color-icon-disabled: var(--N400);
    --color-fill-default: var(--B400);
    --color-fill-hover: var(--B100);
    --color-fill-selector: var(--B50);
    --color-fill-active: var(--N200);
    --color-fill-toolbar: var(--N800);
    --color-line-divider: var(--N500);
    --color-line-border: var(--N100);
    --color-bg-body: var(--N00);
    --color-bg-base: var(--N50);
    --color-bg-mask: rgba(0, 0, 0, 0.55);
    --color-bg-tips: var(--B100);
    --color-bg-brand: #24144B;
    --color-function-error: #FB006D;
    --color-function-warning: #FFD667;
    --color-function-success: #66CF80;
    --color-function-info: #00BCF0;
    --color-content-onfill: var(--N00);
    --color-content-default: var(--B400);
    --color-content-disabled: var(--B100);
    --color-content-hover: var(--B300);
    --color-content-pressed: var(--B600);

    --color-tint-1: #E8E0FF;
    --color-tint-2: #FFE7FD;
    --color-tint-3: #FFE7EE;
    --color-tint-4: #FFEFE3;
    --color-tint-5: #FFF2CD;
    --color-tint-6: #F5FFDC;
    --color-tint-7: #DDFFD6;
    --color-tint-8: #DEFFF1;
    --color-tint-9: #E1FBFF;
}

:root[data-dark-mode=true] {
    --color-bg-mask: rgba(0, 0, 0, 0.6);
    --color-function-error: #D32772;
    --color-function-warning: #E9B320;
    --color-function-success: #3BA856;
    --color-function-info: #2E9DBB;
}
