:root {
    --B50: #F2FCFF;
    --B100: #E0F8FF;
    --B200: #A6ECFF;
    --B300: #52D1F4;
    --B400: #00BCF0;
    --B500: #05ADE2;
    --B600: #009FD1;
    --N00: #FFFFFF;
    --N50: #F9FAFD;
    --N100: #EDEEF2;
    --N200: #E2E4EB;
    --N300: #F2F2F2;
    --N400: #D4D4D5;
    --N500: #BDBDBD;
    --N600: #828282;
    --N700: #4F4F4F;
    --N800: #333333;
    --N900: #1F2329;
    --N1000: #000000;
    --shadow-md: 0px 5px 5px -3px rgba(0,0,0,0.2),0px 8px 10px 1px rgba(0,0,0,0.14),0px 3px 14px 2px rgba(0,0,0,0.12);
}