[package]
name = "flowy-grid-data-model"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bytes = "1.0"
serde = { version = "1.0", features = ["derive", "rc"] }
serde_json = {version = "1.0"}
serde_repr = "0.1"
nanoid = "0.4.0"
flowy-error-code = { path = "../flowy-error-code"}
indexmap = {version = "1.9.1", features = ["serde"]}
tracing = { version = "0.1", features = ["log"] }

[build-dependencies]
lib-infra = { path = "../lib-infra", features = ["protobuf_file_gen"] }

[features]
default = []
backend = []
frontend = []
dart = ["lib-infra/dart"]