[Desktop Entry]
Type=Application
Name=AppFlowy
Icon=io.appflowy.AppFlowy
Exec=env GDK_GL=gles app_flowy %U
Categories=Network;Productivity;
Keywords=Notes
