name: appflowy
description: Bring projects, wikis, and teams together with AI. AppFlowy is an
  AI collaborative workspace where you achieve more without losing control of
  your data. The best open source alternative to Notion.
publish_to: "none"

version: 0.7.1

environment:
  flutter: ">=3.22.0"
  sdk: ">=3.3.0 <4.0.0"

dependencies:
  app_links: ^3.5.0
  appflowy_backend:
    path: packages/appflowy_backend
  appflowy_board:
    git:
      url: https://github.com/AppFlowy-IO/appflowy-board.git
      ref: 8a6434ae3d02624b614a010af80f775db11bf22e
  appflowy_editor:
  appflowy_editor_plugins:
  appflowy_popover:
    path: packages/appflowy_popover
  appflowy_result:
    path: packages/appflowy_result

  archive: ^3.4.10
  auto_size_text_field: ^2.2.3
  avatar_stack: ^1.2.0

  # BitsDojo Window for Windows
  bitsdojo_window: ^0.1.6
  bloc: ^8.1.2
  cached_network_image: ^3.3.0
  calendar_view:
    git:
      url: https://github.com/Xazin/flutter_calendar_view
      ref: "6fe0c98"
  collection: ^1.17.1
  connectivity_plus: ^5.0.2
  cross_file: ^0.3.4+1

  # Desktop Drop uses Cross File (XFile) data type
  desktop_drop: ^0.4.4
  device_info_plus: ^10.1.0
  dotted_border: ^2.0.0+3
  easy_localization: ^3.0.2
  envied: ^0.5.2
  equatable: ^2.0.5
  expandable: ^5.0.1
  extended_text_field: ^15.0.0
  extended_text_library: ^12.0.0
  file: ^7.0.0
  fixnum: ^1.1.0
  flex_color_picker: ^3.5.1
  flowy_infra:
    path: packages/flowy_infra
  flowy_infra_ui:
    path: packages/flowy_infra_ui
  flowy_svg:
    path: packages/flowy_svg
  flutter:
    sdk: flutter
  flutter_animate: ^4.5.0
  flutter_bloc: ^8.1.3
  flutter_cache_manager: ^3.3.1
  flutter_chat_types: ^3.6.2
  flutter_chat_ui: ^1.6.13
  flutter_emoji_mart:
    git:
      url: https://github.com/LucasXu0/emoji_mart.git
      ref: "38c2c42"
  flutter_math_fork: ^0.7.2
  flutter_slidable: ^3.0.0

  flutter_staggered_grid_view: ^0.7.0
  fluttertoast: ^8.2.6
  freezed_annotation: ^2.2.0
  get_it: ^7.6.0
  go_router: ^14.2.0
  google_fonts: ^6.1.0
  highlight: ^0.7.0
  hive_flutter: ^1.1.0
  hotkey_manager: ^0.1.7
  http: ^1.0.0
  image_picker: ^1.0.4

  #  third party packages
  intl: ^0.19.0
  json_annotation: ^4.8.1
  keyboard_height_plugin: ^0.1.5
  leak_tracker: ^10.0.0
  linked_scroll_controller: ^0.2.0

  # Notifications
  # TODO: Consider implementing custom package
  # to gather notification handling for all platforms
  local_notifier: ^0.1.5
  markdown:
  markdown_widget: ^2.3.2+6
  mime: ^1.0.6
  nanoid: ^1.0.0
  numerus: ^2.1.2

  # Used to open local files on Mobile
  open_filex: ^4.5.0
  package_info_plus: ^8.0.2
  path: ^1.8.3
  path_provider: ^2.0.15
  percent_indicator: ^4.2.3
  permission_handler: ^11.3.1
  protobuf: ^3.1.0
  provider: ^6.0.5
  reorderable_tabbar: ^1.0.6
  reorderables: ^0.6.0
  scaled_app: ^2.3.0
  scroll_to_index: ^3.0.1
  scrollable_positioned_list: ^0.3.8
  sentry: 8.8.0
  sentry_flutter: 8.8.0
  share_plus: ^10.0.2
  shared_preferences: ^2.2.2
  sheet:
  shimmer: ^3.0.0
  sized_context: ^1.0.0+4
  string_validator: ^1.0.0
  styled_widget: ^0.4.1
  super_clipboard: ^0.8.4
  synchronized: ^3.1.0+1
  table_calendar: ^3.0.9
  time: ^2.1.3

  toastification: ^2.0.0
  universal_platform: ^1.1.0
  unsplash_client: ^2.1.1
  url_launcher: ^6.1.11
  url_protocol:

  # Window Manager for MacOS and Linux
  window_manager: ^0.3.9

dev_dependencies:
  bloc_test: ^9.1.2
  build_runner: ^2.4.9
  envied_generator: ^0.5.2
  flutter_lints: ^4.0.0

  flutter_test:
    sdk: flutter
  freezed: ^2.4.7
  integration_test:
    sdk: flutter
  json_serializable: ^6.7.1

  mocktail: ^1.0.1

  plugin_platform_interface: any
  run_with_network_images: ^0.0.1
  url_launcher_platform_interface: any

dependency_overrides:
  http: ^1.0.0

  url_protocol:
    git:
      url: https://github.com/LucasXu0/flutter_url_protocol.git
      commit: 737681d

  appflowy_editor:
    git:
      url: https://github.com/AppFlowy-IO/appflowy-editor.git
      ref: "a0b3c72"

  appflowy_editor_plugins:
    git:
      url: https://github.com/AppFlowy-IO/AppFlowy-plugins.git
      path: "packages/appflowy_editor_plugins"
      ref: "b228456"

  sheet:
    git:
      url: https://github.com/jamesblasco/modal_bottom_sheet
      ref: e44458d
      path: sheet

  uuid: ^4.4.0

  flutter_cache_manager:
    git:
      url: https://github.com/LucasXu0/flutter_cache_manager.git
      commit: fbab857b1b1d209240a146d32f496379b9f62276
      path: flutter_cache_manager

flutter:
  generate: true
  uses-material-design: true

  fonts:
    - family: FlowyIconData
      fonts:
        - asset: assets/fonts/FlowyIconData.ttf
    - family: Poppins
      fonts:
        - asset: assets/google_fonts/Poppins/Poppins-ExtraLight.ttf
          weight: 100
        - asset: assets/google_fonts/Poppins/Poppins-Thin.ttf
          weight: 200
        - asset: assets/google_fonts/Poppins/Poppins-Light.ttf
          weight: 300
        - asset: assets/google_fonts/Poppins/Poppins-Regular.ttf
          weight: 400
        - asset: assets/google_fonts/Poppins/Poppins-Medium.ttf
          weight: 500
        - asset: assets/google_fonts/Poppins/Poppins-SemiBold.ttf
          weight: 600
        - asset: assets/google_fonts/Poppins/Poppins-Bold.ttf
          weight: 700
        - asset: assets/google_fonts/Poppins/Poppins-Black.ttf
          weight: 800
        - asset: assets/google_fonts/Poppins/Poppins-ExtraBold.ttf
          weight: 900
    - family: RobotoMono
      fonts:
        - asset: assets/google_fonts/Roboto_Mono/RobotoMono-Regular.ttf
        - asset: assets/google_fonts/Roboto_Mono/RobotoMono-Italic.ttf
          style: italic

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/images/
    - assets/images/appearance/
    - assets/images/built_in_cover_images/
    - assets/flowy_icons/
    - assets/flowy_icons/16x/
    - assets/flowy_icons/24x/
    - assets/flowy_icons/32x/
    - assets/flowy_icons/40x/
    - assets/images/emoji/
    - assets/images/login/
    - assets/translations/
    - assets/icons/icons.json

    # The following assets will be excluded in release.
    # BEGIN: EXCLUDE_IN_RELEASE
    - assets/test/workspaces/
    - assets/test/images/
    - assets/template/
    - assets/test/workspaces/markdowns/
    - assets/test/workspaces/database/
    # END: EXCLUDE_IN_RELEASE
