[package]
name = "appflowy_tauri"
version = "0.0.0"
description = "A Tauri App"
authors = ["you"]
license = ""
repository = ""
edition = "2021"
rust-version = "1.57"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[build-dependencies]
tauri-build = { version = "1.2", features = [] }

[dependencies]
serde_json = "1.0"
serde = { version = "1.0", features = ["derive"] }
tauri = { version = "1.2", features = ["fs-all", "shell-open"] }
tauri-utils = "1.2"
bytes = { version = "1.4" }
tracing = { version = "0.1", features = ["log"] }
lib-dispatch = { path = "../../rust-lib/lib-dispatch", features = ["use_serde"] }
flowy-core = { path = "../../rust-lib/flowy-core", features = ["rev-sqlite", "ts"] }
flowy-notification = { path = "../../rust-lib/flowy-notification", features = ["ts"] }
flowy-net = { path = "../../rust-lib/flowy-net" }

[features]
# by default Tauri runs in production mode
# when `tauri dev` runs it is executed with `cargo run --no-default-features` if `devPath` is an URL
default = ["custom-protocol"]
# this feature is used used for production builds where `devPath` points to the filesystem
# DO NOT remove this
custom-protocol = ["tauri/custom-protocol"]

[patch.crates-io]
collab = { git = "https://github.com/qinluhe/AppFlowy-Collab", rev = "4945564e6f436e86eac438b8acac5b51f25ed7de" }
collab-folder = { git = "https://github.com/qinluhe/AppFlowy-Collab", rev = "4945564e6f436e86eac438b8acac5b51f25ed7de" }
collab-persistence = { git = "https://github.com/qinluhe/AppFlowy-Collab", rev = "4945564e6f436e86eac438b8acac5b51f25ed7de" }
collab-document = { git = "https://github.com/qinluhe/AppFlowy-Collab", rev = "4945564e6f436e86eac438b8acac5b51f25ed7de" }
collab-database = { git = "https://github.com/qinluhe/AppFlowy-Collab", rev = "4945564e6f436e86eac438b8acac5b51f25ed7de" }
appflowy-integrate = { git = "https://github.com/qinluhe/AppFlowy-Collab", rev = "4945564e6f436e86eac438b8acac5b51f25ed7de" }
collab-plugins = { git = "https://github.com/qinluhe/AppFlowy-Collab", rev = "4945564e6f436e86eac438b8acac5b51f25ed7de" }
collab-user = { git = "https://github.com/qinluhe/AppFlowy-Collab", rev = "4945564e6f436e86eac438b8acac5b51f25ed7de" }
collab-define = { git = "https://github.com/qinluhe/AppFlowy-Collab", rev = "4945564e6f436e86eac438b8acac5b51f25ed7de" }

#collab = { path = "../../../../AppFlowy-Collab/collab" }
#collab-folder = { path = "../../../../AppFlowy-Collab/collab-folder" }
#collab-document = { path = "../../../../AppFlowy-Collab/collab-document" }
#collab-database = { path = "../../../../AppFlowy-Collab/collab-database" }
#appflowy-integrate = { path = "../../../../AppFlowy-Collab/appflowy-integrate" }
#collab-plugins = { path = "../../../../AppFlowy-Collab/collab-plugins" }
#collab-user = { path = "../../../../AppFlowy-Collab/collab-user" }
#collab-define = { path = "../../../../AppFlowy-Collab/collab-define" }




