Package: AppFlowy
Version: [CHANGE_THIS]
Depends: libkeybinder-3.0-0
Architecture: [ARCHITECTURE]
Essential: no
Priority: optional
Maintainer: AppFlowy
Description: An Open Source Alternative to Notion
