
:root[data-dark-mode=true] {
    --text-title: #e2e9f2;
    --text-caption: #87A0BF;
    --text-placeholder: #3c4557;
    --text-link-default: #00bcf0;
    --text-link-hover: #52d1f4;
    --text-link-pressed: #009fd1;
    --text-link-disabled: #005174;
    --icon-primary: #e2e9f2;
    --icon-secondary: #59647a;
    --icon-disabled: #525A69;
    --icon-on-toolbar: white;
    --line-border: #59647a;
    --line-divider: #252F41;
    --line-on-toolbar: #99a6b8;
    --fill-default: #00bcf0;
    --fill-hover: #005174;
    --fill-toolbar: #0F111C;
    --fill-selector: #232b38;
    --fill-list-active: #3c4557;
    --fill-list-hover: rgba(255, 255, 255, 0.1);
    --content-blue-400: #00bcf0;
    --content-blue-300: #52d1f4;
    --content-blue-600: #009fd1;
    --content-blue-100: #005174;
    --content-on-fill: #1a202c;
    --content-on-tag: #99a6b8;
    --content-blue-50: #232b38;
    --bg-body: #1a202c;
    --bg-base: #232b38;
    --bg-mask: rgba(0, 0, 0, 0.7);
    --bg-tips: #005174;
    --bg-brand: #2c144b;
    --function-error: #d32772;
    --function-error-hover: #d36f8b;
    --function-error-opacity: rgba(211, 39, 114, 0.1);
    --function-warning: #e9b320;
    --function-warning-hover: #e9c94b;
    --function-warning-opacity: rgba(233, 179, 32, 0.1);
    --function-success: #3ba856;
    --function-success-hover: #5dbb7a;
    --function-success-opacity: rgba(59, 168, 86, 0.1);
    --function-info: #2e9dbb;
    --tint-red: #56363F;
    --tint-green: #3C5133;
    --tint-purple: #4D4078;
    --tint-blue: #2C3B58;
    --tint-yellow: #695E3E;
    --tint-pink: #5E3C5E;
    --tint-lime: #394027;
    --tint-aqua: #1B3849;
    --tint-orange: #5E3C3C;
    --shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.3);
    --scrollbar-track: #252F41;
    --scrollbar-thumb: #3c4557;
    --gradient1: linear-gradient(233deg, #34BDAF 0%, #B682D5 100%);
    --gradient2: linear-gradient(180deg, #4CC2CC 0%, #E17570 100%);
    --gradient3: linear-gradient(180deg, #AF70E1 0%, #ED7196 100%);
    --gradient4: linear-gradient(180deg, #A348D6 0%, #45A7DF 100%);
    --gradient5: linear-gradient(56.2deg, #5749CA 0%, #BB4A97 100%);
    --gradient6: linear-gradient(180deg, #036FFA 0%, #00B8E5 100%);
    --gradient7: linear-gradient(38.2deg, #F0C6CF 0%, #DECCE2 40.4754%, #CAD3F9 100%);
    --header: rgba(0, 0, 0, 0.7);
    --footer: rgba(0, 0, 0, 0);
}