
:root[data-dark-mode=true] {
    --text-title: #e2e9f2;
    --text-caption: #87A0BF;
    --text-placeholder: #3c4557;
    --text-link-default: #00bcf0;
    --text-link-hover: #52d1f4;
    --text-link-pressed: #009fd1;
    --text-link-disabled: #005174;
    --icon-primary: #e2e9f2;
    --icon-secondary: #59647a;
    --icon-disabled: #525A69;
    --icon-on-toolbar: white;
    --line-border: #59647a;
    --line-divider: #384967;
    --line-on-toolbar: #99a6b8;
    --fill-default: #00bcf0;
    --fill-hover: #005174;
    --fill-toolbar: #0F111C;
    --fill-selector: #232b38;
    --fill-list-active: #3c4557;
    --fill-list-hover: #2b394c;
    --content-blue-400: #00bcf0;
    --content-blue-300: #52d1f4;
    --content-blue-600: #009fd1;
    --content-blue-100: #005174;
    --content-blue-50: #024562;
    --content-blue-700: #0079a5;
    --content-blue-800: #00597a;
    --content-blue-900: #003d4d;
    --content-on-fill: #1a202c;
    --content-on-tag: #99a6b8;

    --bg-body: #1a202c;
    --bg-base: #232b38;
    --bg-mask: #000000B2;
    --bg-tips: #005174;
    --bg-brand: #2c144b;
    --function-error: #d32772;
    --function-error-hover: #d36f8b;
    --function-error-opacity: rgba(211, 39, 114, 0.1);
    --function-warning: #e9b320;
    --function-warning-hover: #e9c94b;
    --function-warning-opacity: rgba(233, 179, 32, 0.1);
    --function-success: #3ba856;
    --function-success-hover: #5dbb7a;
    --function-success-opacity: rgba(59, 168, 86, 0.1);
    --function-info: #2e9dbb;
    --tint-red: #C42A534D;
    --badge-red: #C42A53;
    --tint-green: #23CA2E4D;
    --badge-green: #23CA2E;
    --tint-purple: #502FD64D;
    --badge-purple: #502FD6;
    --tint-blue: #04A9D74D;
    --badge-blue: #04A9D7;
    --tint-yellow: #C59A1A4D;
    --badge-yellow: #C59A1A;
    --tint-pink: #BF1CC04D;
    --badge-pink: #BF1CC0;
    --tint-lime: #A4C8244D;
    --badge-lime: #A4C824;
    --tint-aqua: #19CCAC4D;
    --badge-aqua: #19CCAC;
    --tint-orange: #D779224D;
    --badge-orange: #D77922;
    --shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.3);
    --scrollbar-track: #252F41;
    --scrollbar-thumb: #3c4557;
    --gradient1: linear-gradient(233deg, #34BDAF 0%, #B682D5 100%);
    --gradient2: linear-gradient(180deg, #4CC2CC 0%, #E17570 100%);
    --gradient3: linear-gradient(180deg, #AF70E1 0%, #ED7196 100%);
    --gradient4: linear-gradient(180deg, #A348D6 0%, #45A7DF 100%);
    --gradient5: linear-gradient(56.2deg, #5749CA 0%, #BB4A97 100%);
    --gradient6: linear-gradient(180deg, #036FFA 0%, #00B8E5 100%);
    --gradient7: linear-gradient(38.2deg, #F0C6CF 0%, #DECCE2 40.4754%, #CAD3F9 100%);
    --bg-header: #1a202ccc;
    --bg-footer: #00000000;
}