
:root {
    --text-title: #333333;
    --text-caption: #828282;
    --text-placeholder: #bdbdbd;
    --text-disabled: #e0e0e0;
    --text-link-default: #00bcf0;
    --text-link-hover: #52d1f4;
    --text-link-pressed: #009fd1;
    --text-link-disabled: #e0f8ff;
    --icon-primary: #333333;
    --icon-secondary: #59647a;
    --icon-disabled: #e0e0e0;
    --icon-on-toolbar: #ffffff;
    --line-border: #bdbdbd;
    --line-divider: #1F232923;
    --line-on-toolbar: #4f4f4f;
    --fill-toolbar: #333333;
    --fill-default: #00bcf0;
    --fill-hover: #52d1f4;
    --fill-pressed: #009fd1;
    --fill-active: #e0f8ff;
    --fill-list-hover: #1F23290F;
    --fill-list-active: #f9fafd;
    --content-blue-400: #00bcf0;
    --content-blue-300: #52d1f4;
    --content-blue-600: #009fd1;
    --content-blue-100: #e0f8ff;
    --content-blue-50: #f2fcff;
    --content-on-fill-hover: #00bcf0;
    --content-on-fill: #ffffff;
    --content-on-tag: #4f4f4f;
    --bg-body: #ffffff;
    --bg-base: #f9fafd;
    --bg-mask: #0000008C;
    --bg-tips: #e0f8ff;
    --bg-brand: #2c144b;
    --function-error: #fb006d;
    --function-error-hover: #ff4f8a;
    --function-error-opacity: rgba(251, 0, 109, 0.1);
    --function-warning: #ffd667;
    --function-warning-hover: #ffdf8f;
    --function-warning-opacity: rgba(255, 214, 103, 0.1);
    --function-success: #66cf80;
    --function-success-hover: #66cf00;
    --function-success-opacity: rgba(102, 207, 128, 0.1);
    --function-info: #00bcf0;
    --tint-purple: #e8e0ff;
    --badge-purple: #5749ca;
    --tint-pink: #ffe7ee;
    --badge-pink: #bb4a97;
    --tint-red: #ffdddd;
    --badge-red: #f44336;
    --tint-lime: #f5ffdc;
    --badge-lime: #b6d94c;
    --tint-green: #ddffd6;
    --badge-green: #66cf80;
    --tint-aqua: #defff1;
    --badge-aqua: #00b8e5;
    --tint-blue: #e1fbff;
    --badge-blue: #00bcf0;
    --tint-orange: #ffefe3;
    --badge-orange: #ff8c00;
    --tint-yellow: #fff2cd;
    --badge-yellow: #ffcc00;
    --shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    --scrollbar-thumb: #bdbdbd;
    --scrollbar-track: #e5e5e5;
    --gradient1: linear-gradient(233deg, #34BDAF 0%, #B682D5 100%);
    --gradient2: linear-gradient(180deg, #4CC2CC 0%, #E17570 100%);
    --gradient3: linear-gradient(180deg, #AF70E1 0%, #ED7196 100%);
    --gradient4: linear-gradient(180deg, #A348D6 0%, #45A7DF 100%);
    --gradient5: linear-gradient(56.2deg, #5749CA 0%, #BB4A97 100%);
    --gradient6: linear-gradient(180deg, #036FFA 0%, #00B8E5 100%);
    --gradient7: linear-gradient(38.2deg, #F0C6CF 0%, #DECCE2 40.4754%, #CAD3F9 100%);
    --bg-header: #FFFFFFCC;
    --bg-footer: #FFFFFFCC;
}