
:root {
    --text-title: #333333;
    --text-caption: #828282;
    --text-placeholder: #bdbdbd;
    --text-disabled: #e0e0e0;
    --text-link-default: #00bcf0;
    --text-link-hover: #52d1f4;
    --text-link-pressed: #009fd1;
    --text-link-disabled: #e0f8ff;
    --icon-primary: #333333;
    --icon-secondary: #59647a;
    --icon-disabled: #e0e0e0;
    --icon-on-toolbar: #ffffff;
    --line-border: #bdbdbd;
    --line-divider: #1F232923;
    --line-on-toolbar: #4f4f4f;
    --line-card: #1F23291E;
    --fill-toolbar: #333333;
    --fill-default: #00bcf0;
    --fill-hover: #52d1f4;
    --fill-pressed: #009fd1;
    --fill-active: #e0f8ff;
    --fill-list-hover: #1F23290F;
    --fill-list-active: #f9fafd;
    --content-blue-400: #00bcf0;
    --content-blue-300: #52d1f4;
    --content-blue-600: #009fd1;
    --content-blue-700: #0079a5;
    --content-blue-800: #00597a;
    --content-blue-900: #003d4d;
    --content-blue-100: #e0f8ff;
    --content-blue-50: #f2fcff;
    --content-on-fill-hover: #00bcf0;
    --content-on-fill: #ffffff;
    --content-on-tag: #4f4f4f;
    --bg-body: #ffffff;
    --bg-base: #F7F8FC;
    --bg-mask: #0000008C;
    --bg-tips: #e0f8ff;
    --bg-brand: #2c144b;
    --function-error: #fb006d;
    --function-error-hover: #ff4f8a;
    --function-error-opacity: rgba(251, 0, 109, 0.1);
    --function-warning: #ffd667;
    --function-warning-hover: #ffdf8f;
    --function-warning-opacity: rgba(255, 214, 103, 0.1);
    --function-success: #66cf80;
    --function-success-hover: #66cf00;
    --function-success-opacity: rgba(102, 207, 128, 0.1);
    --function-info: #00bcf0;
    --tint-purple: #E8E0FF;
    --badge-purple: #AB8DFF;
    --tint-pink: #FFE7FD;
    --badge-pink: #FF8EF5;
    --tint-red: #FFE7EE;
    --badge-red: #FF85A9;
    --tint-lime: #F5FFDC;
    --badge-lime: #C6EC41;
    --tint-green: #DDFFD6;
    --badge-green: #74F37D;
    --tint-aqua: #DEFFF1;
    --badge-aqua: #40F0D1;
    --tint-blue: #E1FBFF;
    --badge-blue: #00C8FF;
    --tint-orange: #FFEFE3;
    --badge-orange: #FFBC7E;
    --tint-yellow: #FFF2CD;
    --badge-yellow: #FCD86F;
    --shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    --scrollbar-thumb: #bdbdbd;
    --scrollbar-track: #e5e5e5;
    --gradient1: linear-gradient(233deg, #34BDAF 0%, #B682D5 100%);
    --gradient2: linear-gradient(180deg, #4CC2CC 0%, #E17570 100%);
    --gradient3: linear-gradient(180deg, #AF70E1 0%, #ED7196 100%);
    --gradient4: linear-gradient(180deg, #A348D6 0%, #45A7DF 100%);
    --gradient5: linear-gradient(56.2deg, #5749CA 0%, #BB4A97 100%);
    --gradient6: linear-gradient(180deg, #036FFA 0%, #00B8E5 100%);
    --gradient7: linear-gradient(38.2deg, #F0C6CF 0%, #DECCE2 40.4754%, #CAD3F9 100%);
    --bg-header: #FFFFFFCC;
    --bg-footer: #FFFFFFCC;
    --note-header: #F3E7FF;
}