[package]
name = "dart-ffi"
version = "0.1.0"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "dart_ffi"
# this value will change depending on the target os
# default staticlib
crate-type = ["staticlib"]


[dependencies]
allo-isolate = { version = "^0.1", features = ["catch-unwind"] }
byteorder = { version = "1.4.3" }
protobuf.workspace = true
tokio = { workspace = true, features = ["full", "rt-multi-thread", "tracing"] }
serde.workspace = true
serde_repr.workspace = true
serde_json.workspace = true
bytes.workspace = true
crossbeam-utils = "0.8.15"
lazy_static = "1.4.0"
parking_lot.workspace = true
tracing.workspace = true

# workspace
lib-dispatch = { workspace = true }
#flowy-core = { workspace = true, features = ["profiling"] }
flowy-core = { workspace = true }
flowy-notification = { workspace = true }
flowy-server = { workspace = true }
flowy-server-config = { workspace = true}
collab-integrate = { workspace = true }
flowy-derive = { path = "../../../shared-lib/flowy-derive" }
serde_yaml = "0.9.27"

[features]
default = ["dart", "rev-sqlite"]
dart = ["flowy-core/dart"]
rev-sqlite = ["flowy-core/rev-sqlite"]
http_sync = ["flowy-core/http_sync", "flowy-core/use_bunyan"]
openssl_vendored = ["flowy-core/openssl_vendored"]

[build-dependencies]
flowy-codegen = { path = "../../../shared-lib/flowy-codegen", features = ["dart"] }
