name: flowy_infra_ui_web
description: A new Flutter package project.
version: 0.0.1
homepage:
publish_to: none

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter_web_plugins:
    sdk: flutter

  flowy_infra_ui_platform_interface:
    path: ../flowy_infra_ui_platform_interface

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.1

flutter:
  plugin:
    platforms:
      web:
        pluginClass: FlowyInfraUIPlugin
        fileName: flowy_infra_ui_web.dart