
.MuiDialog-root [class$="-MuiBackdrop-root-MuiDialog-backdrop"] {
    background-color: var(--bg-mask);
}

[class$="-MuiPaper-root-MuiPopover-paper"], [class$="-MuiPaper-root-MuiDialog-paper"] {
    background-image: none !important;
}

[class$='-MuiButtonBase-root-MuiMenuItem-root'].MuiButtonBase-root.Mui-selected {
    background-color: var(--fill-list-active);
}

[class$='-MuiButtonBase-root-MuiMenuItem-root'].MuiButtonBase-root:hover {
    background-color: var(--fill-list-active);
}

.MuiList-root .Mui-focusVisible.MuiMenuItem-root:not(:hover, .Mui-selected) {
    background-color: unset;
}

.MuiPaper-root.MuiMenu-paper.MuiPopover-paper {
    background-image: none;
}

.MuiButton-contained.MuiButton-containedPrimary.MuiButton-containedPrimary {
    color: var(--content-on-fill);
}

.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeMedium {
    border-radius: 4px;
}

.MuiButtonBase-root.MuiIconButton-root[class$='-MuiButtonBase-root-MuiIconButton-root']:hover {
    background: var(--fill-list-hover);
}

.MuiButtonBase-root.MuiIconButton-root {
    border-radius: 4px;
    padding: 2px;
    box-shadow: none;
}

.MuiButtonBase-root.MuiButton-containedPrimary.MuiButton-contained:hover {
    background: var(--fill-default);
}

.MuiTooltip-tooltip	 {
    background: var(--bg-tips) !important;
    color: var(--text-title) !important;
    font-size: 0.85rem !important;
    border-radius: 8px !important;
    font-weight: 400 !important;
}

.MuiTooltip-arrow {
    color: var(--bg-tips) !important;
}

.MuiInput-input[class$='-MuiSelect-select-MuiInputBase-input-MuiInput-input']:focus {
    background: transparent;
}
.MuiList-root .MuiMenuItem-root {
    border-radius: 8px;
    margin-left: 0.5em;
    margin-right: 0.5em;
    padding: 0.5em 1em;
}

.MuiDivider-root.MuiDivider-fullWidth {
    border-color: var(--line-divider);
}
