/* stop body from scrolling */
html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

input,
textarea {
  outline: 0;
  background: transparent;
}

body {
  font-family: Poppins;
}

.btn {
  @apply border border-gray-500 px-4 py-2 rounded-lg;
}
