@import './variables/index.css';

* {
    margin: 0;
    padding: 0;
}

/* stop body from scrolling */
html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
[contenteditable] {
    -webkit-tap-highlight-color: transparent;
}
input,
textarea {
  outline: 0;
  background: transparent;
}

body {
    font-family: Poppins, serif;
}

::-webkit-scrollbar {
    width: 8px;
}



:root[data-dark-mode=true] body {
    scrollbar-color: #fff var(--bg-body);
}

body {
    scrollbar-track-color: var(--bg-body);
    scrollbar-shadow-color: var(--bg-body);
}


.btn {
  @apply rounded-xl border border-line-divider px-4 py-3;
}

.btn-primary {
  @apply bg-fill-default text-text-title hover:bg-fill-list-hover;
}

.input {
  @apply rounded-xl border border-line-divider px-[18px] py-[14px] text-sm;
}


th {
  @apply text-left font-normal;
}

