/* stop body from scrolling */
html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

input,
textarea {
  outline: 0;
  background: transparent;
}

body {
  font-family: Poppins;
}

::selection {
  @apply bg-[#E0F8FF]
}

#appflowy-block-doc ::selection {
  @apply bg-[transparent]
}

.btn {
  @apply rounded-xl border border-gray-500 px-4 py-3;
}

.btn-primary {
  @apply bg-main-accent text-white hover:bg-main-hovered;
}

.input {
  @apply rounded-xl border border-gray-300 px-[18px] py-[14px] text-sm;
}

.input.error {
  @apply border-main-alert bg-main-alert/10;
}

th {
  @apply text-left font-normal;
}
