[package]
name = "flowy-storage"
version = "0.1.0"
edition = "2021"

[dependencies]
flowy-storage-pub.workspace = true
serde_json.workspace = true
serde.workspace = true
async-trait.workspace = true
bytes.workspace = true
lib-infra = { workspace = true }
url = "2.2.2"
flowy-error = { workspace = true, features = ["impl_from_reqwest"] }
tokio = { workspace = true, features = ["sync", "io-util"] }
tracing.workspace = true
flowy-sqlite.workspace = true
mime_guess = "2.0.4"
fxhash = "0.2.1"
