[package]
name = "flowy-test"
version = "0.1.0"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
flowy-core = { path = "../flowy-core" }
flowy-user = { path = "../flowy-user"}
flowy-net = { path = "../flowy-net"}
flowy-folder2 = { path = "../flowy-folder2", features = ["test_helper"] }
flowy-database2 = { path = "../flowy-database2" }
lib-dispatch = { path = "../lib-dispatch" }
lib-ot = { path = "../../../shared-lib/lib-ot" }
lib-infra = { path = "../../../shared-lib/lib-infra" }
flowy-server = { path = "../flowy-server" }
flowy-notification = { path = "../flowy-notification" }

serde = { version = "1.0", features = ["derive"] }
serde_json = {version = "1.0"}
protobuf = {version = "2.28.0"}
tokio = { version = "1.26", features = ["full"]}
futures-util = "0.3.26"
thread-id = "3.3.0"
bytes = "1.4"
nanoid = "0.4.0"
tempdir = "0.3.7"
tracing = { version = "0.1.27" }
parking_lot = "0.12.1"
dotenv = "0.15.0"

[dev-dependencies]
uuid = { version = "1.3.3", features = ["v4"] }

[features]
dart = ["flowy-core/dart"]
