[package]
name = "flowy-test"
version = "0.1.0"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
flowy-core = { path = "../flowy-core" }
flowy-user = { path = "../flowy-user"}
flowy-net = { path = "../flowy-net"}
flowy-folder = { path = "../flowy-folder", features = ["flowy_unit_test"] }
flowy-document= { path = "../flowy-document" }
lib-dispatch = { path = "../lib-dispatch" }

flowy-client-sync = { path = "../flowy-client-sync"}
lib-ot = { path = "../../../shared-lib/lib-ot" }
lib-infra = { path = "../../../shared-lib/lib-infra" }

serde = { version = "1.0", features = ["derive"] }
serde_json = {version = "1.0"}
protobuf = {version = "2.28.0"}
#claim = "0.5.0"
tokio = { version = "1.26", features = ["full"]}
futures-util = "0.3.26"
thread-id = "3.3.0"
log = "0.4"
bytes = "1.4"
nanoid = "0.4.0"

[dev-dependencies]
quickcheck = "1.0.3"
quickcheck_macros = "0.9.1"
fake = "2.5.0"
futures = "0.3.26"
serial_test = "0.5.1"

[features]
dart = ["flowy-core/dart"]
