[package]
name = "flowy-test"
version = "0.1.0"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
flowy-core = { workspace = true }
flowy-user = { workspace = true }
flowy-user-deps = { workspace = true }
flowy-folder2 = { path = "../flowy-folder2", features = ["test_helper"] }
flowy-folder-deps = { workspace = true }
flowy-database2 = { path = "../flowy-database2" }
flowy-database-deps = { workspace = true }
flowy-document2 = { path = "../flowy-document2" }
flowy-document-deps = { workspace = true }
flowy-encrypt = { workspace = true }
lib-dispatch = { workspace = true }
lib-infra = { path = "../../../shared-lib/lib-infra" }
flowy-server = { path = "../flowy-server" }
flowy-server-config = { workspace = true }
flowy-notification  = { workspace = true }
anyhow = "1.0.71"
flowy-storage = { workspace = true }

serde = { version = "1.0", features = ["derive"] }
serde_json = {version = "1.0"}
protobuf = {version = "2.28.0"}
tokio = { version = "1.26", features = ["full"]}
futures-util = "0.3.26"
thread-id = "3.3.0"
bytes = "1.4"
nanoid = "0.4.0"
tracing = { version = "0.1.27" }
parking_lot = "0.12.1"
uuid = { version = "1.3.3", features = ["serde", "v4"] }
collab = { version = "0.1.0" }
collab-document = { version = "0.1.0" }
collab-folder = { version = "0.1.0" }
collab-database = { version = "0.1.0" }
collab-plugins = { version = "0.1.0" }
collab-entity = { version = "0.1.0" }

[dev-dependencies]
dotenv = "0.15.0"
tempdir = "0.3.7"
uuid = { version = "1.3.3", features = ["v4"] }
assert-json-diff = "2.0.2"
tokio-postgres = { version = "0.7.8" }
zip = "0.6.6"

[features]
default = ["supabase_cloud_test"]
dart = ["flowy-core/dart"]
supabase_cloud_test = []