[package]
name = "flowy-core"
version = "0.1.0"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
lib-dispatch = { workspace = true }
lib-log = { workspace = true }
flowy-user = { workspace = true }
flowy-user-pub = { workspace = true }
flowy-folder = { workspace = true }
flowy-folder-pub = { workspace = true }
flowy-database2 = { workspace = true }
flowy-database-pub = { workspace = true }
flowy-sqlite = { workspace = true }
flowy-document = { workspace = true }
flowy-document-pub = { workspace = true }
flowy-error = { workspace = true }
flowy-server = { workspace = true, features = ["enable_supabase"] }
flowy-server-pub = { workspace = true }
flowy-config = { workspace = true }
flowy-date = { workspace = true }
collab-integrate = { workspace = true }
flowy-search = { workspace = true }
collab-entity = { version = "0.1.0" }
collab-plugins = { version = "0.1.0" }
collab = { version = "0.1.0" }
diesel.workspace = true
uuid.workspace = true
flowy-storage = { workspace = true }
client-api = { version = "0.1.0" }

tracing.workspace = true
futures-core = { version = "0.3", default-features = false }
bytes.workspace = true
tokio = { workspace = true, features = ["full"] }
tokio-stream = { workspace = true, features = ["sync"] }
console-subscriber = { version = "0.2", optional = true }
parking_lot.workspace = true
anyhow.workspace = true
base64 = "0.21.5"

lib-infra = { workspace = true }
serde.workspace = true
serde_json.workspace = true
serde_repr.workspace = true
futures.workspace = true
walkdir = "2.4.0"
sysinfo = "0.30.5"
semver = "1.0.22"

[features]
profiling = ["console-subscriber", "tokio/tracing"]
http_sync = []
native_sync = []
dart = [
    "flowy-user/dart",
    "flowy-date/dart",
    "flowy-search/dart",
    "flowy-folder/dart",
    "flowy-database2/dart",
]
ts = [
    "flowy-user/tauri_ts",
    "flowy-folder/tauri_ts",
    "flowy-search/tauri_ts",
    "flowy-database2/ts",
    "flowy-config/tauri_ts",
]
openssl_vendored = ["flowy-sqlite/openssl_vendored"]

# Enable/Disable AppFlowy Verbose Log Configuration
verbose_log = [
    "flowy-document/verbose_log",
    "client-api/sync_verbose_log"
]
