[package]
name = "flowy-core"
version = "0.1.0"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
lib-dispatch = { workspace = true }
lib-log = { workspace = true }
flowy-user = { workspace = true }
flowy-user-deps = { workspace = true }
flowy-folder2 = { workspace = true }
flowy-folder-deps = { workspace = true }
flowy-database2 = { workspace = true }
flowy-database-deps = { workspace = true }
flowy-sqlite = { workspace = true }
flowy-document2 = { workspace = true }
flowy-document-deps = { workspace = true }
flowy-error = { workspace = true }
flowy-task = { workspace = true }
flowy-server = { workspace = true }
flowy-server-config = { workspace = true }
flowy-config = { workspace = true }
flowy-date = { workspace = true }
collab-integrate = { workspace = true, features = ["supabase_integrate", "appflowy_cloud_integrate", "snapshot_plugin"] }
flowy-ai = { workspace = true }
collab-entity = { version = "0.1.0" }
collab-plugins = { version = "0.1.0" }
collab = { version = "0.1.0" }
diesel = { version = "1.4.8", features = ["sqlite"] }
uuid = { version = "1.3.3", features = ["v4"] }
flowy-storage = { workspace = true }
client-api = { version = "0.1.0", features = ["collab-sync"] }

tracing = { version = "0.1", features = ["log"] }
futures-core = { version = "0.3", default-features = false }
bytes = "1.5"
tokio = { version = "1.26", features = ["full"] }
tokio-stream = {version = "0.1.14", features = ["sync"]}
console-subscriber = { version = "0.1.8", optional = true }
parking_lot = "0.12.1"
anyhow = "1.0.75"

lib-infra = { path = "../../../shared-lib/lib-infra" }
serde = "1.0"
serde_json = "1.0"
serde_repr = "0.1"

[features]
default = ["rev-sqlite"]
profiling = ["console-subscriber", "tokio/tracing"]
http_sync = []
native_sync = []
use_bunyan = ["lib-log/use_bunyan"]
dart = [
    "flowy-user/dart",
    "flowy-date/dart",
    "flowy-folder2/dart",
    "flowy-database2/dart",
    "flowy-document2/dart",
    "flowy-config/dart",
]
ts = [
    "flowy-user/ts",
    "flowy-date/ts",
    "flowy-folder2/ts",
    "flowy-database2/ts",
    "flowy-document2/ts",
    "flowy-config/ts",
]
rev-sqlite = ["flowy-user/rev-sqlite"]
openssl_vendored = ["flowy-sqlite/openssl_vendored"]

