[package]
name = "flowy-core"
version = "0.1.0"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
lib-dispatch = { path = "../lib-dispatch" }
lib-log = { path = "../lib-log" }
flowy-user = { path = "../flowy-user" }
flowy-net = { path = "../flowy-net" }
flowy-folder2 = { path = "../flowy-folder2" }
#flowy-database = { path = "../flowy-database" }
flowy-database2 = { path = "../flowy-database2" }
flowy-client-ws = { path = "../../../shared-lib/flowy-client-ws" }
flowy-sqlite = { path = "../flowy-sqlite", optional = true }
#flowy-document = { path = "../flowy-document" }
flowy-document2 = { path = "../flowy-document2" }
flowy-revision = { path = "../flowy-revision" }
flowy-error = { path = "../flowy-error", features = ["adaptor_ws"] }
flowy-task = { path = "../flowy-task" }
appflowy-integrate = { version = "0.1.0" }

tracing = { version = "0.1", features = ["log"] }
futures-core = { version = "0.3", default-features = false }
bytes = "1.4"
tokio = { version = "1.26", features = ["full"] }
console-subscriber = { version = "0.1.8", optional = true }
parking_lot = "0.12.1"

revision-model = { path = "../../../shared-lib/revision-model" }
ws-model = { path = "../../../shared-lib/ws-model" }
lib-ws = { path = "../../../shared-lib/lib-ws" }
lib-infra = { path = "../../../shared-lib/lib-infra" }
serde = "1.0"
serde_json = "1.0"

[features]
default = ["rev-sqlite"]
profiling = ["console-subscriber", "tokio/tracing"]
http_sync = []
native_sync = []
use_bunyan = ["lib-log/use_bunyan"]
dart = [
    "flowy-user/dart",
    "flowy-net/dart",
    "flowy-folder2/dart",
    "flowy-database2/dart",
    "flowy-document2/dart",
]
ts = [
    "flowy-user/ts",
    "flowy-net/ts",
    "flowy-folder2/ts",
    "flowy-database2/ts",
    "flowy-document2/ts",
]
rev-sqlite = [
    "flowy-sqlite",
    "flowy-user/rev-sqlite",
]
openssl_vendored = ["flowy-sqlite/openssl_vendored"]
