[package]
name = "flowy-notification"
version = "0.1.0"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
lazy_static = { version = "1.4.0" }
protobuf.workspace = true
tracing.workspace = true
bytes.workspace = true
serde.workspace = true

flowy-derive = { path = "../../../shared-lib/flowy-derive" }
lib-dispatch = { workspace = true }

[build-dependencies]
flowy-codegen = { path = "../../../shared-lib/flowy-codegen" }

[features]
dart = ["flowy-codegen/dart"]
ts = ["flowy-codegen/ts"]
