@use "src/styles/mixin.scss";

.block-element:not([data-block-type="table/cell"]) {
  @apply my-[4px];

}

.block-element .block-element:not([data-block-type="table/cell"]) {
  @apply mb-0;
  margin-left: 24px;
}

.block-element[data-block-type="quote"] {
  .block-element {
    margin-left: 0 !important;
  }
}

.block-element[data-block-type="table/cell"] {
  margin-left: 0 !important;

  .block-element {
    margin-left: 0 !important;
    height: 100%;
  }
}

.block-element.block-align-left {
  > div > .text-element {
    text-align: left;
    justify-content: flex-start;
  }

  .quote-block {
    @apply items-start;
  }
}

.block-element.block-align-right {
  > div > .text-element {
    text-align: right;
    justify-content: flex-end;
  }

  .quote-block {
    @apply items-end;
  }
}

.block-element.block-align-center {
  > div > .text-element {
    text-align: center;
    justify-content: center;
  }

  .quote-block {
    @apply items-center;
  }
}


.block-element[data-block-type="todo_list"] .checked > .text-element .text-content {
  text-decoration: line-through;
  color: var(--text-caption);
}

.block-element .collapsed .block-element {
  display: none !important;
}

[role=textbox] {
  .text-element {
    @apply my-1;
    &::selection {
      @apply bg-transparent;
    }
  }
}


span[data-slate-placeholder="true"]:not(.inline-block-content) {
  @apply text-text-placeholder;
  opacity: 1 !important;
}


[role="textbox"] {
  ::selection {
    @apply bg-content-blue-100;
  }

  .text-content {
    &::selection {
      @apply bg-transparent;
    }

    &.selected {
      @apply bg-content-blue-100;
    }

    span {
      &::selection {
        @apply bg-content-blue-100;
      }
    }
  }
}


[data-dark-mode="true"] [role="textbox"] {
  ::selection {
    background-color: #1e79a2;
  }

  .text-content {
    &::selection {
      @apply bg-transparent;
    }

    &.selected {
      background-color: #1e79a2;
    }

    span {
      &::selection {
        background-color: #1e79a2;
      }
    }
  }
}


.text-content, [data-dark-mode="true"] .text-content {
  @apply min-w-[1px];
  &.empty-text {
    span {
      &::selection {
        @apply bg-transparent;
      }
    }
  }
}

.text-element:has(.text-placeholder), .divider-node, [data-dark-mode="true"] .text-element:has(.text-placeholder), [data-dark-mode="true"] .divider-node {
  ::selection {
    @apply bg-transparent;
  }
}

.text-placeholder {
  @apply absolute left-[5px] transform -translate-y-1/2 pointer-events-none select-none whitespace-nowrap;
  &:after {
    @apply text-text-placeholder absolute top-0;
    content: (attr(data-placeholder));
  }
}

.text-placeholder {
  &:after {
    @apply left-0;
  }
}

.has-start-icon .text-placeholder {
  &:after {
    @apply left-[24px];
  }
}

.block-align-center {
  .text-placeholder {
    @apply left-[calc(50%+1px)];
    &:after {
      @apply left-0;
    }
  }

  .has-start-icon .text-placeholder {
    @apply left-[calc(50%+13px)];
    &:after {
      @apply left-0;
    }
  }

}


.block-align-right {

  .text-placeholder {

    @apply relative w-fit h-0 order-2;
    &:after {
      @apply relative  w-fit top-1/2 left-[-6px];
    }
  }

  .text-content {
    @apply order-1;
  }

  .has-start-icon .text-placeholder {
    &:after {
      @apply left-[-6px];
    }
  }
}


.formula-inline, .mention {
  &.selected {
    @apply rounded bg-content-blue-100;
  }
}


.numbered-icon {
  &:after {
    content: attr(data-number) ".";
    font-weight: 500;
  }
}


.image-render {
  .image-resizer {
    @apply absolute w-[10px] top-0 z-10 flex h-full cursor-col-resize items-center justify-end;
    .resize-handle {
      @apply h-1/4 w-1/2 transform transition-all duration-500 select-none rounded-full border border-white opacity-0;
      background: var(--fill-toolbar);
    }
  }

  &:hover {
    .image-resizer {
      .resize-handle {
        @apply opacity-90;
      }
    }
  }
}


.image-block, .math-equation-block, [data-dark-mode="true"] .image-block, [data-dark-mode="true"] .math-equation-block {
  ::selection {
    @apply bg-transparent;
  }

}


.mention-inline {
  height: inherit;
  overflow: hidden;
  @apply inline-flex gap-1 relative truncate max-w-full;

  .mention-icon {
    @apply absolute top-1/2 transform -translate-y-1/2;
    font-size: 1em;
  }

  .mention-content {
    @apply ml-[1.5em]  truncate max-w-full flex-1;
  }

}

.text-block-icon {
  @apply flex items-center justify-center;
}


.font-small {
  .text-element {
    line-height: 1.7;
  }
}


.font-large {
  .text-element {
    line-height: 1.2;
  }
}

.line-height-large {
  .text-element {
    margin-top: 6px;
    margin-bottom: 6px;
  }
}

.line-height-small {
  .text-element {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.table-block {
  @include mixin.scrollbar-style;
}


.cursor-before::before,
.cursor-after::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  margin-top: 2px;
  margin-bottom: 2px;
  background-color: var(--text-title);
  animation: blink 1s step-end infinite;
}

.cursor-before::before {
  left: -1px;
}

.cursor-after::after {
  right: -1px;
}

@keyframes blink {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.highlight-block {
  animation: blink-bg 1s ease-in-out infinite;

}

@keyframes blink-bg {
  from, to {
    background-color: unset;
  }
  50% {
    background-color: var(--content-blue-100);
  }
}